Package: djmount
Version: 0.71-emw-1
Architecture: amd64
Maintainer: Dario Minnucci <midget@debian.org>
Installed-Size: 169
Depends: fuse, libc6 (>= 2.14), libfuse2 (>= 2.5), libtalloc2 (>= 2.0.4~git20101213), libupnp6 (>= 1:1.6.6)
Section: net
Priority: extra
Homepage: http://djmount.sourceforge.net/
Description: file system client for mounting network media servers
 This package provides a client for Universal Plug'n'Play (UPnP)
 Audio-Visual MediaServers.  It discovers all compatible UPnP AV
 devices on the network automatically and mounts their media content
 as a file system using FUSE.
